*.swp
#package-lock.json
__pycache__
.pytest_cache
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# 1 Password cli files
.op

# OS files
.DS_Store

# Python environment files
infra/venv
backend/venv
backend/api/package
!backend/api/package/api.py

**/package/*
**/node_modules/*